/*=============== FONTS ================*/
@import url(https://fonts.googleapis.com/css?family=Play);
@import url('https://fonts.googleapis.com/css?family=Andika&subset=cyrillic,cyrillic-ext');

body{
	/*background-color: red;*/
	position: relative;
	z-index: 0;
}

/* ========== HEADER ============= */

.header{
	width: 100%;
	height: auto;
	background-color: #e6e2e7;
	position: fixed;
	z-index: 20;
}

.header .navbar{
	width: 100%;
}

.header .navbar .navbar-brand{
	width: 20%;
}

.header .navbar .navbar-brand img{
	/*width: 100%;*/
	height: 50px;
}

.header .navbar .navbar-collapse{
	flex-basis: 60%;
}

.header .navbar .navbar-collapse ul{
	margin: auto;
}

.header .navbar .navbar-collapse ul li.nav-item{
	font-size: 20px;
    font-family: 'Play', sans-serif;
    padding: 10px 10px;
}

.header .navbar .navbar-collapse ul li.nav-item a{
	color: #333;
	padding: 0;
    border-bottom: 2px solid #e6e2e7;
}

.header .navbar .navbar-collapse ul li.nav-item a:hover{
	border-color: #333;
}

.header .navbar .navbar-collapse ul li.nav-item a.active{
	color: #fff;
}

.header .navbar .navbar-collapse ul li.nav-item a.active:hover{
	border-color: #fff;
}


.header .navbar .tel-numbers{
	/*display: flex;
	align-items: center;*/
}

.header .navbar .tel-numbers ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header .navbar .tel-numbers ul li{
	font-size: 20px;
    font-family: 'Play', sans-serif;
    color: #8f84aa;
}

.header .navbar-light .navbar-toggler{
	outline: none;
}

.header .navbar-light .navbar-toggler:hover{
	cursor: pointer;
}

/* ============== SECTION ============== */

.section{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: blue;
	/*position: relative;*/
}

/* ====== BG-VEDEO ====== */

.section .showreel{
	/*width: 100vw;*/
	width: 100%;
	height: 100vh;
	background-color: black;
	position: relative;
	z-index: 1;
}

.section .showreel *{
	margin: 0;
	padding: 0;
}

.section .showreel .banner{
	position: absolute;
	width: 20%;
	/*height: 80px;*/
	background-color: rgba(222, 223, 172, 0.8);
	right: 20px;
	top: 200px;
	z-index: 5;
	padding: 10px 10px;
}

.section .showreel .banner p{
	/*display: inline-block;*/
	float: left;
	/*height: 40px;*/
	margin: 0;
}

.section .showreel .banner p:first-child{
	width: 10%;
	line-height: 60px;
	margin-right: 10%;
}

.section .showreel .banner p:last-child{
	width: 80%;
	line-height: 30px;
}

.section .showreel .banner p span{
	color: #000;
}

.section .showreel .banner p:first-child span{
	display: inline-block;
	color: #8f84aa;
	transform: rotate(-90deg);
	vertical-align: middle;
	font-family: "Play", sans-serif;
	font-size: 20px;
}

.section .showreel .banner p:last-child span{
	text-transform: uppercase;
	font-family: "Andika", sans-serif;
	font-size: 14px;
}

.section .showreel .info{
	position: absolute;
	width: 50%;
	left: 25%;
	bottom: 100px;
	z-index: 5;
	text-align: center;
	background-color: rgba(143, 135, 170, 0.5);
}

.section .showreel .info p{
	color: #fff;
	font-family: sans-serif;
	font-size: 30px;
	padding: 10px;
}

.section .showreel .pattern{
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	background: url(../img/showreel/pattern.png);
	opacity: 0.2;
}

.section .showreel .bg-video{
	width: 100%;
	height: 100%;
	position: fixed;
}

.section .showreel .bg-video video{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.section .showreel .bg-video video source{
	width: 100%;
	height: 100%;
	display: block;
}

.bg-video{ 
	display: block;
	width: 100%; 
	height: 100%; 
}
			
#bg-video{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
}

#bg-video > video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
	#bg-video > video { 
		height: 300%; 
		top: -100%; 
	}
}
@media (max-aspect-ratio: 16/9) {
	#bg-video > video { 
		width: 300%; 
		left: -100%; 
	}
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
	#bg-video > video {
		top: 0; 
		left: 0;
		width: 140%; 
		height: 100%;
		object-fit: cover;
	}
}

/* ====== PORTFOLIO ======== */

.section .portfolio{
	width: 100%;
	height: auto;
	background-color: #efeeee;
	position: relative;
	z-index: 10;
	/*margin-bottom: 200px;*/
}

.section .portfolio .tabs-container{
	width: 100%;
	/*padding: 20px 0px;*/
} 

.section .portfolio .tabs{
	width: 100%;
	background-color: #dbd9e0;
	padding-top: 50px;
}

.section .portfolio .tabs ul{
	justify-content: center;
}

.section .portfolio .tabs ul li{
	width: 24.5%;
	text-align: center;
	/*background-color: #b8b5c1;*/
}

.section .portfolio .tabs ul li a{
	width: 100%;
	height: 90px;
	display: inline-block;
	color: #fff;
	font-family: "Andika", sans-serif;
	font-size: 20px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, #b8b5c1 4%);
	padding: 20px;
	text-transform: uppercase;
	line-height: 45px;
}

.section .portfolio .tabs ul li a.active{
	background: linear-gradient(to right, #fefeec, #fefeec);
	color: #000;
}

.section .portfolio .tabs ul li a span{
	vertical-align: middle;
	line-height: 20px;
	display: inline-block;
}

.section .portfolio .tab-content{
	width: 100%;
	background-color: #fefeec;
	padding: 20px 5%;
}

.section .portfolio .tab-content .videos{
	width: 33.33333333333%;
	height: 232px;
	/*display: inline-block;*/
	float: left;
}

.section .portfolio .tab-content .videos a{
	width: 100%;
	height: 100%;
	display: inline-block;
	/*background-color: #000;*/
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	line-height: 232px;
}

.section .portfolio .tab-content .videos a img{
	width: 100%;
	height: 100%;
	position: absolute;
}

.section .portfolio .tab-content .videos a span{
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: "Andika", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: none;
	position: absolute;
	z-index: 6;
}

.section .portfolio .tab-content .videos a:hover img{
	filter: blur(3px);
    transform: scale(0.8);
}

.section .portfolio .tab-content .videos a:hover span{
	display: block;
}

/* ======= MODALS ======= */

.modal .modal-dialog{
	max-width: 90%;
	margin: 50px auto;
}

.modal .modal-header{
	justify-content: flex-end;
	border-bottom: none;
}

.modal .modal-header button:hover{
	cursor: pointer;
}

.modal .modal-body > iframe{
	width: 100%;
	height: 576px;
}

.modal .modal-footer{
	border-top: none;
}

/* ========= PRICE ======== */

.section .price{
	width: 100%;
	height: auto;
	background-color: #d5d3d8;
	position: relative;
	z-index: 10;
	/*margin-bottom: 200px;*/
}

.section .price .tabs-container{
	width: 100%;
	/*padding: 20px 0px;*/
} 

.section .price .tabs{
	width: 100%;
	background-color: #f8f8f1;
	padding-top: 50px;
}

.section .price .tabs ul{
	justify-content: center;
}

.section .price .tabs ul li{
	width: 24.5%;
	text-align: center;
	/*background-color: #b8b5c1;*/
}

.section .price .tabs ul li a{
	width: 100%;
	height: 90px;
	display: inline-block;
	color: #fff;
	font-family: "Andika", sans-serif;
	font-size: 20px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, #b8b5c1 4%);
	padding: 20px;
	text-transform: uppercase;
	line-height: 45px;
}


.section .price .tabs ul li a.active{
	background: linear-gradient(to right, #e5e3e9, #e5e3e9);
	color: #000;
}

.section .price .tabs ul li a span{
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}

.section .price .tab-content{
	width: 100%;
	background-color: #dbd7e3;
	padding: 40px 30px;
}

.section .price h2{
	width: 100%;
	font-family: "Play", sans-serif;
	font-size: 20px;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	margin-top: 40px;
	font-weight: bold;
}

.section .price .promo-content p,
.section .price .family-content p{
	width: 70%;
	font-family: "ST Sans Caption", sans-serif;
	color: #333;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin: auto;
}

.section .price .family-content p:nth-child(3){
	padding-bottom: 0;
}

.section .price .family-content p:nth-child(4){
	padding-top: 0;
}

/* ======= CARD ======== */

.card{
	width: 100%;
	height: 600px;
	background-color: #f2ecef;
}

.card .card-head{
	width: 100%;
	height: auto;
	padding: 20px 20px;
}

.card.card-first .card-head{
	background-color: #7ea97d;
}

.card.card-second .card-head{
	background-color: #899ac1;
}

.card.card-third .card-head{
	background-color: #8b7ab0;
}

.card .card-head h3{
	font-family: "Play", sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
	/*margin: 0;*/
	text-transform: uppercase;
}

.card .card-head h4{
	font-family: "Play", sans-serif;
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}

.card .card-body{
	padding: 20px 10px;
}

.card .card-body ul{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.card .card-body ul li{
	margin-bottom: 20px;
}

.card .card-body ul li img{
	width: 20%;
	display: inline-block;
	margin-right: 20px;
}

.card .card-body ul li span{
	font-family: sans-serif;
	font-size: 20px;
	color: #333;
}

.card .card-footer{
	border: none;
	background-color: #f2ecef;
	padding: 0;
}

.card .card-footer a{
	width: 100%;
	display: inline-block;
	background-color: #928ba2;
	font-family: sans-serif;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	padding: 20px 20px;
}

.card.card-enother-thinks{
	width: 100%;
	height: auto;
	background-color: #dbd7e3;
	border: none;
	border-radius: 0;
}

.card.card-enother-thinks li{
	text-align: center;
}

.card.card-enother-thinks h3{
	font-family: "Play", sans-serif;
	color: #333;
	font-size: 24px;
	display: inline-block;
	text-transform: uppercase;
}

.card.card-enother-thinks h4{
	font-family: "PT Sans Caption", sans-serif;
	color: #333;
	font-size: 20px;
}

.card.card-enother-thinks ul li a{
	font-family: "PT Sans Caption", sans-serif;
	font-size: 20px;
	color: #fff;
	background-color: #928ba2;
}

.card.card-enother-thinks ul li:last-child{
	margin-bottom: 0;
}

/* ========== PRICE FORMS ========= */

.section .price .tab-pane h5{
	font-family: sans-serif;
	font-size: 24px;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: left;
}

form label{
	font-family: sans-serif;
	font-size: 20px;
	color: #333;
	margin: 0;
}

form textarea.video-name{
	width: 100%;
	height: 40px;
	font-family: sans-serif;
	font-size: 18px;
	color: #777;
	padding: 0 64px;
	margin-bottom: 0;
	line-height: 38px;
}

.slider{
	margin-top: 20px;
	margin-bottom: 20px;
}

.ui-widget-content{
	width: 50%;
	height: 6px;
	background-color: #333;
}

span.ui-slider-handle.ui-corner-all.ui-state-default{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: radial-gradient(at bottom left, #fff 10px, rgba(0, 0, 0, 0) 30px),
				radial-gradient(at top right, #fff 10px, #777 30px);
	border: 1px solid #fff;
	box-shadow: 1px 1px 2px 1px #777;
}

span.ui-slider-handle.ui-corner-all.ui-state-default:hover{
	cursor: pointer;
}

span.ui-slider-handle.ui-corner-all.ui-state-default:focus{
	outline: none;
}

.ui-slider-horizontal .ui-slider-handle{
	top: -1.2em;
}

.slider span{
	display: inline-block;
	background-color: #333;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	z-index: 20;
	top: 12px;
	left: 12px;
	box-shadow: 0px 0px 2px 1px #fff;
}

form .slider-labels {
    position: relative;
} 

form .slider-label-left {
    position: absolute;
    left: 0;
}

form .slider-label-center {
    position: absolute;
    left: 24%;
}

form .slider-label-right {
    position: absolute;
    left: 50%;
}

form .row{
	margin-bottom: 20px;
}

form .row:nth-child(6){
	padding-top: 20px;
}

form .slider4-label{
    position: absolute;
}

form .slider4-label1{
    left: 0;
}

form .slider4-label2{
    left: 11%;
}

form .slider4-label3{
    left: 23%;
}

form .slider4-label4{
    left: 35%;
}

form .slider4-label5{
	left: 50%
}

form input#add-my-music{
	width: 30px;
	height: 30px;
}

.price .btn{
	display: inline-block;
	background-color: #928ba2;
	font-family: sans-serif;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	padding: 10px 20px;
}

.price .finish{
	text-align: center;
}



/* ========== REVIEWS ========== */

.section .reviews{
	width: 100%;
	height: auto;
	background-color: #efeeee;
	position: relative;
	z-index: 10;
	/*margin-bottom: 200px;*/
	/*padding: 20px 0;*/
}

.section .reviews .reviews-container{
	width: 100%;
	background-color: #fefeec;
	padding: 20px 20px;
}

.section .reviews .reviews-container .carousel{
	/*width: 90%;*/

}

.section .reviews .reviews-container .review-content{
	width: 80%;
	height: 600px;
	margin: auto;
}

.section .reviews .reviews-container .review-content h3{
	font-family: "Play", sans-serif;
	font-size: 24px;
	color: #928ba2;
	text-align: center;
}

.section .reviews .reviews-container .review-content .review-img{
	width: 220px;
	height: auto;
	margin: auto;
	padding: 10px;
	position: relative;
}

.section .reviews .icons{
	width: 10%;
	margin: auto;
	position: relative;
	text-align: center;
}

.section .reviews .icons .icon{
	width: 16px;
	transform: rotate(45deg);
	display: inline-block;
	text-align: left;
}

.section .reviews .icons.icon-before{
	margin-bottom: 20px;
}

.section .reviews .icons.icon-after{
	/*margin-top: 20px;*/
}

.section .reviews .icons span{
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #928ba2;
	position: absolute;
}

.section .reviews .icons span:first-child{
	/*top: -2px;*/
}

.section .reviews .icons span:nth-child(2){
	left: 7px;
}

.section .reviews .icons span:nth-child(3){
	top: 7px;
	left: 7px;
}

.section .reviews .icons span:nth-child(4){
	top: 7px;
}

.section .reviews .reviews-container .review-content .review-img .img{
	width: 100%;
	height: 100%;
}

.section .reviews .reviews-container .review-content .review-img .img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.section .reviews .reviews-container .review-content p{
	font-family: sans-serif;
	font-size: 20px;
	color: #333;
	text-align: center;
}

.carousel-control-prev, 
.carousel-control-next{
	width: 10%;
	opacity: 1;
	background-color: #edf0f1;
}

.carousel-control-prev:hover, 
.carousel-control-next:hover,
.carousel-control-prev:focus, 
.carousel-control-next:focus{
	opacity: 1;
}

.carousel-control-prev:hover .prev-icon{
	background-position: top right;
}

.carousel-control-next:hover .next-icon{
	background-position: bottom right;
}

.controls-icons{
	display: inline-block;
	width: 40px;
	height: 66px;
	background-image: url(../img/reviews/controls-icons.png);
	background-repeat: no-repeat;
}

.prev-icon{
	background-position: top left;
}

.next-icon{
	background-position: bottom left;
}

/* ======== CONTACTS ========== */

.section .contacts{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 10;
	/*padding: 20px 0 0;*/
	background-color: #d5d3d8;
}

.section .contacts .contacts-container{
	width: 100%;
	height: auto;
	background-color: #dbd9e0;
	padding: 50px 0 20px;
}

.section .contacts h5{
	font-family: "Play", sans-serif;
	color: #333;
	font-size: 30px;
	text-align: center;
}

.section .contacts h6{
	font-family: "Play", sans-serif;
	color: #333;
	font-size: 24px;
	text-align: center;
}

.section .contacts .contacts-icons{
	text-align: center;
	padding: 20px 0px 50px;
}

/* ====== FOOTER ======= */

.footer{
	width: 100%;
	height: auto;
	background-color: #efeeee;
	position: relative;
	z-index: 10;
	/*padding: 20px 0;*/
}

.footer .footer-container{
	width: 100%;
	background-color: #fff;
	padding: 10px;
}

.footer p{
	margin: 0;
}

.footer p span{
	font-family: "Play", sans-serif;
	font-size: 20px;
	 color: #333;
}

.footer p span:first-child{
	color: #928ba2;
}

/* ======== RESPONSIVE ====== */

@media(max-width: 1026px){
	.section .showreel .banner{width: 30%;}
}

@media(max-width: 992px){
	section > div{margin-bottom: 0;}
	.header .navbar .tel-numbers{display: none;}
	.header .navbar .navbar-collapse{flex-basis: 100%; text-align: center;}
	.modal .modal-dialog{max-width: 95%;}
}

@media(max-width: 768px){
	.section .showreel .banner{width: 40%;}
	/*.section .portfolio .tabs ul li{width: 30%;}*/
	.section .portfolio .tab-content .videos{width: 100%; margin-top: 10px;}
	.section .portfolio .tab-content .videos:first-child{margin-top: 0;}
	.section .portfolio .tabs, .section .price .tabs{padding: 0;}
	.section .portfolio .tabs ul li, .section .price .tabs ul li{width: 100%;}
	.section .portfolio .tabs ul li a, .section .price .tabs ul li a{height: auto; font-size: 18px; line-height: normal;}
	.card{height: auto; margin-bottom: 10px;}
	.section .price .tab-pane h5{text-align: center;}
	.ui-widget-content{width: 100%}
	form .slider4-label2{left: 23%;}
	form .slider-label-center, form .slider4-label3{left: 47%}
	form .slider4-label4{left: 71%;}
	form .slider-label-right, form .slider4-label5{left: 96%;}
	#video-price{display: block;}
	.carousel-inner{width: 90%; margin: auto;}
	.carousel-control-prev, .carousel-control-next{width: 14%;}
	.section .reviews .reviews-container .review-content{height: 700px;}
}

@media(max-width: 560px){
	.section .showreel .banner{width: 60%; right: 20%;}
	.section .showreel .info{width: 100%; left: 0;}
}

@media(max-width: 410px){
	.section .showreel .banner{width: 80%; right: 10%;}
}