/* ===== MAIN STYLES ===== */
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

html{
	overflow-y: hidden;
}

/* ===== FONTS ===== */

*{
	color: #2c3c4e;
}
h1{
	font-size: 36pt;
	margin: 0;
	position: relative;
	z-index: 10;
	text-align: left;
	padding-left: 50px;
}

h2{
	font-size: 26pt;
	margin-bottom: 20px;
}

h3{
	font-size: 22pt;
}

h4{
	font-size: 16pt;
}

h5{
	font-size: 12pt;
	font-style: italic;
	color: #59b263;
}

p{
	font-size: 12pt;
}

hr{
	width: 10%;
	height: 1px;
	background-color: #2c3c4e;
}

.publications hr{
	width: 5%;
}

.text-white{
	color: white;
}

.text-blue{
	color: #2c3c4e;
}

.text-blue a{
	color: #2c3c4e;
}

.text-aqua{
	color: #59b263;
}

.text-center{
	text-align: center;
}

.text-bold{
	font-weight: bold;
}

/* ===== BUTTONS ===== */
.btn{
	color: #fff;
	border: none;
	outline: 0;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	border: 1px solid;
	border-radius: 0;
}

.btn:hover{
	background-color: #F9F9F9;
	cursor: pointer;
}

.btn-aqua{
	background-color: #59b263;
	border-color: #59b263;
	color: #fff !important;
}

.btn-aqua:hover{
	color: #59b263 !important;
}

.btn-blue{
	background-color: #2c3c4e;
	border-color: #2c3c4e;
	color: #fff !important;
}

.btn-blue:hover{
	color: #2c3c4e !important;
}

/* ===== BACKGROUND DIVS ===== */
.aqua-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(89, 178, 99, .8);
}

.blue-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(44, 60, 78, .8);
}

.blur-bg{
	z-index: 99;
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    filter: url('blur.svg#blur');
}

.transfotrm-diagonal-aqua{
	background-color: rgba(89, 178, 99, .8);
	width: 60%;
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
}

.transfotrm-diagonal-aqua:after{
	content: '';
	position: absolute;
	border-right: 300px solid transparent;
	border-top: calc(100vw - 100px) solid rgba(89, 178, 99, .8);
    left: 100%;
    top: 0;
}

.transfotrm-diagonal-blue{
	background-color: rgba(44, 60, 78, .8);
	width: 18%;
	position: absolute;
	z-index: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.transfotrm-diagonal-blue:before{
	content: '';
	position: absolute;
	border-left: 300px solid transparent;
	border-bottom: calc(100vw - 100px) solid rgba(44, 60, 78, .8);
    left: -300px;
    top: 0;
}

/* ===== PRELOADER ===== */
#preloader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	background-color: #2c3c4e;
	text-align: center;
	line-height: calc(100vh);
	vertical-align: middle;
}

/* ===== HEADER ===== */
.header-dep .navbar{
	background-color: #fff;
	box-shadow: 0px 2px 10px #333;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link{
	font-weight: bold;
	font-size: 18px;
	color: #2c3c4e;
	border-bottom: 2px solid #fff;
	padding: 20px 10px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #59b263;
}

.navbar-light .navbar-nav .nav-link:focus{
	color: #59b263;
	border-color: #59b263;
}

.navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active, 
 .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link{
	font-weight: bold;
	color: #59b263;
	border-color: #59b263;
}

/* ===== MAIN PAGE ===== */
section{
	width: 100%;
	height: auto;
}

/* ===== BACKGROUND IMG ===== */
.bg-img-ist{
	width: 100%;
	min-height: 80%;
	background-image: url(../../sources/img/department/ist/dep_ist.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
    background-attachment: fixed;
    background-size: cover;
	padding-top: 200px; 
	text-align: center;
	overflow: hidden;
	position: relative;
}

/* ===== IST NEWS CAROUSEL ===== */
.department-news-carousel{
	width: 100%;
	height: 150px;
	position: relative;
	z-index: 20;
}

.department-slider-news{
	width: 90%;
	position: absolute;
	top: -25%;
	left: 5%;
}

.department-news-card{
	width: 90%;
	margin: auto;
	background-color: #2c3c4e;
	padding: 10px;
}

.department-news-info{
	text-align: center;
}

.department-slider-news .carousel-item{
	padding: 0 10%;
}

.carousel-controls{
	width: auto;
}

.carousel-controls span i{
	color: #2c3c4e;
	font-size: 36pt;
	font-weight: 100;
}

.department-slider-news .carousel-control-prev{
	left: 8%;
}
.department-slider-news .carousel-control-next{
	right: 8%;

}

/* ===== ABOUT DEPARTMENT ===== */
.about-department{
	width: 100%;
	height: auto;
	position: relative;
	background-color: #fff;
}

.about-department-info-container{
	width: 100%;
	padding: 30px 0;
	position: relative;
	z-index: 10;
}

.about-department-info{
	padding: 20px;
	background-color: #2c3c4e;
}

.subdivisions{
	width: 100%;
	height: auto;
	padding: 0 0 30px;
	position: relative;
	z-index: 10;
}

.subdivisions h3{
	margin-bottom: 30px;
}

.subdivision{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	box-shadow: 1px 1px 2px #333;
}

.subdivision-container{
	display: table;
}

.subdivision-title{
	width: 25%;
	background-color: #59b263;
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.subdivision-description{
	width: 75%;
	background-color: #f9f9f9;
	padding: 10px 20px;
	display: table-cell;
	vertical-align: middle;
}

.education{
	width: 100%;
	height: auto;
	padding: 80px 0 140px;
	position: relative;
	background-image: url(../../sources/img/news/IMG_4752.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
    background-attachment: fixed;
    background-size: cover;
}

.education:before{
	content: '';
	position: absolute;
	border-bottom: 100px solid transparent;
    left: -10px;
    top: 0;
    border-left: calc(100vw - 7px) solid #fff;
    z-index: 10;
}

.education-content{
	padding-top: 30px;
}

.education-container{
	position: relative;
	z-index: 1;
}

.education-part{
	min-height: 100%;
	background-color: #fff;
	position: relative;
}

.education-part-title{
	width: 100.25%;
	height: 75px;
	padding: 10px;
	background-color: #2c3c4e;
	display: table;
}

.education-part-title h4{
	display: table-cell;
	vertical-align: middle;
}

.education-part-content{
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: #fff;
}

.education-part-content > p{
	margin-bottom: 30px;
}

.education-part-content > a{
	position: absolute;
	left: 50%;
	margin-left: -52.815px;
	bottom: 10px;
}

canvas{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.teachers{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 80px 0 30px;
	position: relative;
}

.teachers .container{
	position: relative;
	z-index: 15;
}

.teachers:before{
	content: '';
	position: absolute;
	border-top: 100px solid transparent;
    left: -10px;
    top: -100px;
    border-right: calc(100vw - 7px) solid #fff;
    z-index: 10;
}

.teachers h2{
	margin-bottom: 30px;
}

.teacher{
	text-align: center;
	margin-bottom: 20px;
}

.science{
	width: 100%;
	height: auto;
	padding: 80px 0 140px;
	position: relative;
	background-image: url(../../sources/img/news/IMG_4731.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
    background-attachment: fixed;
    background-size: cover;
}

.science:before{
	content: '';
	position: absolute;
	border-bottom: 100px solid transparent;
    left: -10px;
    top: 0;
    border-right: calc(100vw - 7px) solid #fff;
    z-index: 10;
}

.science-container{
	position: relative;
	z-index: 1;
}

.science-card{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.more-publications{
	text-align: center;
}

.ist-stud-proj{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 80px 0 50px;
	position: relative;
}

.ist-stud-proj .container{
	position: relative;
	z-index: 10;
}

.ist-stud-proj:before{
	content: '';
	position: absolute;
	border-top: 100px solid transparent;
    left: -10px;
    top: -100px;
    border-left: calc(100vw - 7px) solid #fff;
    z-index: 10;
}

.proj-card{
	margin-bottom: 20px;
	background-color: #2c3c4e;
}

.proj-img, .proj-info{
	display: inline-block;
}

.proj-img{
	width: 100%;
}

.proj-img img{
	width: 100%;
}

.proj-info{
	width: 100%;
	padding-left: 10px;
	padding-top: 10px;
}

.more-proj{
	text-align: center;
}

.partners{
	width: 100%;
	height: auto;
	padding: 80px 0 20px;
	background-color: #59b263;
	position: relative;
}

.partners:before{
	content: '';
	position: absolute;
	border-bottom: 100px solid transparent;
    left: -10px;
    top: 0;
    border-left: calc(100vw - 7px) solid #fff;
    z-index: 10;
}

.partner{
	margin-bottom: 30px;
	border-left: 5px solid #2c3c4e;
	padding: 10px;
}

/*======== FOOTER =======*/

.footer{
	width: 100%;
	background-color: #2c3c4e;
	padding: 20px 0;
}

.footer .copyright{
	height: 100%;
	display: table;
}

.footer p{
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.footer p a{
	font-size: 18pt;
	margin-right: 20px;
	color: #fff;
}


/* ============ TEACHERS IST, PROJECTS IST ======= */
.teacher-ist, .ist-projects{
	width: 100%;
	height: auto;
	padding: 90px 0 40px;
}

.teachers-bar, .projects-bar{
	width: 100%;
	height: auto;
	box-shadow: 1px 1px 4px #999;
	background-color: #fff;
}

.teachers-bar ul, .projects-bar ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: block;
}

.teachers-bar ul li:hover a, .projects-bar ul li:hover a{
	color: #59b263;
	cursor: pointer;
}

.teachers-bar ul li a, .projects-bar ul li a{
	width: 100%;
	display: inline-block;
	color: #333;
	text-decoration: none;
	padding: 10px 20px;
}

.teachers-bar ul li a.active, .projects-bar ul li a.active{
	color: #fff;
	font-weight: bold;
	background-color: #2c3c4e;
}

.teachers-info, .projects-info{
	width: 100%;
	height: auto;
	background-color: #fff;
}

.teachers-info .img, .projects-info .img{
	width: 30%;
	margin: 0 0 20px 20px;
	box-shadow: 1px 1px 4px #999;
}

.teachers-info .img img, .projects-info .img img{
	width: 100%;
}

@media(max-width: 992px){
	.practice-bases:before, 
	.partners:before,
	.foa-stud-proj:before,
	.science:before,
	.teachers:before,
	.education:before{display: none;}
}