@media(max-width: 1200px){
	.main-page .reviews .reviews-container .reviews-info .reviews-text p{font-size: 22px;}
}

@media(min-width: 992px){
	.news-slider .carousel-item{height: 100vh;}
}

@media(max-width: 992px){
	.header .navbar-contacts-language .nav-contacts a,
	.header-dep .navbar-contacts-language .nav-contacts a{margin-left: 10px;}
	.header .navbar ul,
	.header-dep .navbar ul{text-align: center;}
	.header .navbar .nav-item,
	.header-dep .navbar .nav-item .nav-link{font-size: 22px; padding-bottom: 20px;}
	.header .navbar-light .navbar-nav .nav-link:hover{border-color: #2c3c4e;}
	.search-input{display: none;}
	/*.news-slider{height: auto;}*/
	.main-page .reviews .reviews-container .reviews-info .reviews-text p{font-size: 20px;}
	.main-page .baners .baner{margin-bottom: 20px;}
	.bg-img{background-size: 150%;}
	.entrant-page .why-we:before, .students-page .interesting-info:before{display: none;}
	/*.news-archive-navbar{display: none;}*/
	.news-archive .news-archive-navbar, .gallery-page .gallery-navbar{margin-bottom: 20px;}
	.introductory-test{background-size: 200%;}
	.main-page .news-card-text{border: 1px solid #2c3c4e; border-top: none; padding: 10px;}

	.header-dep .navbar{padding-top: 10px; padding-bottom: 10px;}
	.transfotrm-diagonal-aqua{width: 100%;}
	.transfotrm-diagonal-blue, .transfotrm-diagonal-aqua:after,.transfotrm-diagonal-blue:before{display: none;}
	.ist-slider-news{top: -50%;}
	canvas{visibility: hidden;}
}

@media(max-width: 767px){
	.main-page .reviews .reviews-container .reviews-info .reviews-img{width: 60%; margin-left: 20%;}
	.main-page .reviews .reviews-container .reviews-info .reviews-text p{text-align: center;}
	.main-page .reviews .reviews-container .reviews-info .reviews-text h6{text-align: center;}
	.footer .contact-us{margin-bottom: 20px;}
	.header .nav-logo-info{width: 250px; padding-top: 36px;}
	.header .nav-logo-info span:last-child{display: none;}
	.bg-img{min-height: 500px; background-size: 162%;}
	.hot-news{text-align: center; padding: 10px 0;}
	.hot-news:hover .hide-text{visibility: hidden;}
	.hot-news:hover{width: 12%; background-color: #59b263; color: #fff;}
	.hot-news:hover i{display: block;}
}

@media(max-width: 576px){
	.header .navbar-contacts-language .nav-logo{height: 160px; padding-top: 50px;}
	.header .nav-logo-info{height: 180px; padding-top: 90px;}
	/*.hot-news{width: 100%; left: 0;}*/
	.introductory-test{background-size: 300%;}
}

@media(max-width: 450px){
	.header .navbar-contacts-language .nav-logo:hover .nav-logo-info{display: none;}
	.bg-img{display: none;}
	.entrant-page, .students-page{padding-top: 160px;}
}

@media(max-width: 350px){
	.introductory-test{background-image: none;}
}

	