.clear{
	clear: both;
}
/* ===== MAIN STYLES ===== */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed')

html{
	overflow-y: hidden;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F9F9F9;
}

/* ===== FONTS ===== */
h2{
	font-size: 26pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

h3{
	font-size: 18pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h4{
	font-size: 16pt;
	font-family: 'Roboto', sans-serif;
}

h5{
	font-size: 10pt;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

.student-college h2 span{
	position: relative;
}

.student-college h2 span::before{
	content: '';
	width: 100px;
	height: 2px;
	background-color: #2c3c4e;
	position: absolute;
	top: 20px;
	left: -120px;
}
.student-college h2 span::after{
	content: '';
	width: 100px;
	height: 2px;
	background-color: #2c3c4e;
	position: absolute;
	top: 20px;
	right: -120px;
}

.text-white{
	color: #fff;
}

.text-blue{
	color: #2c3c4e;
}

.text-aqua{
	color: #59b263;
}

.text-white-hover:hover{
	color: #fff;
}

.text-bold{
	font-weight: bold;
}

.text-center{
	text-align: center;
}

/* ========== IMG ========== */
.img{
	width: 100%;
	height: auto;
}

.img img{
	width: 100%;
	height: 100%;
}

/* ========== BUttons ========== */
.btn{
	color: #fff;
	border: none;
	outline: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	border: 1px solid;
	border-radius: 0;
}

.btn-aqua{
	background-color: #59b263;
	border-color: #59b263;
	color: #fff !important;
}

.btn-aqua:hover{
	background-color: #f9f9f9;
	color: #59b263 !important;
}

/* ===== PRELOADER ===== */

#preloader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	background-color: #2c3c4e;
	text-align: center;
	line-height: calc(100vh);
	vertical-align: middle;
}

/* ========== CSI Page ========== */
.student-college{
	position: relative;
	box-shadow: 10px 0px 10px 0px #333;
}

/* ========== Header ========== */
.navbar{
	padding-bottom: 0;
	box-shadow: 0px 0px 10px 0px #333;
}

.bg-blue{
	background-color: #2c3c4e;
}

.navbar-light a.navbar-brand{
	color: #fff;
}

.navbar-light a.navbar-brand:hover{
	color: #59b263;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
	padding: 20px 10px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #59b263
}

.navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active, 
 .navbar-light .navbar-nav .nav-link.show,
 .navbar-light .navbar-nav .show>.nav-link{
 	color: #59b263;
 	font-weight: bold;
 	border-bottom: 2px solid #59b263;
 }

 /* ========== Bg-img ======= */
 .bg-csi-img{
 	width: 100%;
	min-height: 100%;
	background-image: url(../img/student-college/stud-col-all.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
    background-attachment: fixed;
    background-size: cover;
	padding-top: 300px; 
	text-align: center;
	overflow: hidden;
	position: relative;
 }

 .csi-logo{
 	width: 20%;
 	height: auto;
 	display: inline-block;
	animation: csi-hidden-animation 15s ease-in-out infinite;
	animation-direction: alternate;
	position: absolute;
	z-index: 10;
	left: 40%;
 }

.bg-csi-img img{
	width: 100%;
}

.csi-motto{
	width: 80%;
	display: inline-block;
	opacity: 0;
	animation: csi-visible-animation 15s ease-in-out infinite;
	animation-direction: alternate;
	position: absolute;
	z-index: 10;
	left: 10%;
	padding: 4px;
	border: 6px solid rgba(225, 225, 225, .8);
}

.csi-motto p{
	padding: 20px 40px;
	background-color: rgba(225, 225, 225, .8);
	margin-bottom: 0;
}

.scroll-down{
	width: 50px;
	height: 50px;
	display: block;
	border-top: 5px solid #2c3c4e;
	border-right: 5px solid #2c3c4e;
	border-top-right-radius: 5px;
	position: absolute;
	bottom: 25px;
	left: 50%;
	z-index: 10;
	margin-left: -25px;
	transform: rotate(135deg);
	animation: scroll-down-blink 2s ease-in-out infinite;
	animation-direction: alternate;
}

.scroll-down:hover{
	animation: paused;
	width: 60px;
	height: 60px;
	opacity: 1;
	margin-left: -30px;
	border-color: #fff;
}

 .bg-pattern{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(44, 60, 78, .2);
	background-image: url(../img/pattern.png);
	background-repeat: repeat;
	opacity: .3;
}

/* ========== About CSI ========== */
.about-csi{
	padding: 80px 0 0;
}

.info-about-us{
	margin-bottom: 40px;
}

.students-polozhennya{
	width: 100%;
}

.students-polozhennya ul{
	list-style-type: none; 
}

.students-polozhennya ul li span{
	position: relative;
}

.students-polozhennya ul li span::before{
	content: '>';
	position: absolute;
	font-size: 12pt;
	font-weight: bold;
	color: #59b263;
	left: -15px;
}

/* ========== Components CSI ========== */
.csi-components{
	width: 100%;
	height: auto;
	padding: 80px 0 0;
}

.csi-member-card{
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 20px;
}

.csi-member-card:hover .csi-member-info{
	visibility: visible;
}

.csi-member-img{
	width: 100%;
}

.csi-member-name{
	position: absolute;
	width: 110%;
	left: -5%;
	bottom: 0;
	z-index: 5;
	padding: 5px 10px;
	background-color: #59b263;
}

.csi-member-info{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	background-color: rgba(44, 60, 78, .8);
	visibility: hidden;
}

/* ========== Activity CSI ========== */
.csi-activity{
	width: 100%;
	padding: 80px 0 0;
}

.activity-card{
	background-color: #fff;
	box-shadow: 1px 1px 4px #999;
	display: table;
	margin-bottom: 10px;
}

.activity-card .activity-icon{
	width: 20%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 32pt;
	border-right: 2px solid #f9f9f9;
	color: #59b263;
}

.activity-card .activity-info{
	width: 80%;
	display: table-cell;
	padding: 10px;
	color: #2c3c4e;
}

.activity-card .activity-info p{
	margin-bottom: 0;
}

/* ======== News CSI ========== */
.csi-news{
	width: 100%;
	padding: 80px 0;
}

.csi-news .last-news{
	width: 100%;
	height: auto;
	padding: 30px 0px 60px;
}

.csi-news .news-card{
	width: 98%;
	margin-bottom: 20px;
	background-color: #2c3c4e;
}

.csi-news .news-card:first-child{
	margin-left: 0;
}

.csi-news .news-card-img{
	height: 100%;
}

.csi-news .news-card-text{
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 10px;
	padding-top: 10px;
	border-top: none;
}

.csi-news .news-card-text p{
	color: #333;
}

.csi-news .add-enother-news{
	text-align: center;
}

/* ========== Contacts CSi ========== */
.csi-contacts{
	width: 100%;
	/*padding: 50px 0;*/
	background-color: #2c3c4e;
	display: table;
}

.contacts-info{
	width: 50%;
	padding: 0 5%;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
}

.contacts-img{
	width: 50%;
	display: table-cell;
}

.csi-contacts h4{
	padding-top: 20px;
}

.csi-contacts p{
	padding-bottom: 20px;
	margin-bottom: 0;
}

.csi-contacts a img{
	width: 20px;
}

