.clear{
	clear: both;
}

/* ===== MAIN STYLES ===== */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed')

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #F9F9F9;
}

html{
	overflow-y: hidden;
}

/* ===== FONTS ===== */
h1{
	font-size: 32pt;
	color: #333;
	font-family: 'Roboto', 'Roboto', sans-serif;
	font-weight: bold;
}

h2{
	font-size: 26pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

h3{
	font-size: 18pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h4{
	font-size: 16pt;
	font-family: 'Roboto', sans-serif;
}

h5{
	font-size: 10pt;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

h6{
	font-size: 14pt;
}

p{
	font-size: 12pt;
	font-family: 'Roboto', sans-serif;
}

.text-white{
	color: #fff;
}

.text-grey{
	color: #333;
}

.text-blue{
	color: #2c3c4e !important;
}

.text-aqua{
	color: #59b263;
}

.text-bold{
	font-weight: bold;
}

.text-italic{
	font-style: italic;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a.text-aqua:hover{
	color: #2c3c4e;
}

i.icons{
	font-size: 28pt;
	margin-bottom: 20px;
}

i.icons-white{
	color: #fff;
}

i.icons-aqua{
	color: #59b263;
	margin-bottom: 0.5rem;
}

i.large{
	font-size: 22pt;
}

/* ===== PARALLAX ===== */

.diagonal-block:before{
	content: '';
	position: absolute;
	border-top: 100px solid transparent;
    left: -10px;
    top: -100px;
}

.diagonal-block-left:before{
	border-left: calc(100vw - 7px) solid #fff; /* #F9F9F9 */
}

.diagonal-block-right:before{
	border-right: calc(100vw - 7px) solid #fff; /* #F9F9F9 */
}


/* ===== BUTTONS ===== */
.btn{
	color: #fff;
	border: none;
	outline: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	border: 1px solid;
	border-radius: 0;
}

.btn:hover{
	background-color: #fff;
	cursor: pointer;
}

.btn-white{
	background-color: transparent;
	border-color: #fff;
}

.btn-white:hover{
	color: #e7ad30;
	border-color: #e7ad30;
}

.btn-blue{
	background-color: #59b263;
	border-color: #2c3c4e;
}

.btn-blue:hover{
	color: #59b263;
	box-shadow: 1px 1px 10px #333;
}

.btn-aqua{
	background-color: #59b263;
	border-color: #59b263;
	color: #fff !important;
}

.btn-aqua:hover{
	color: #59b263 !important;
}

/* ===== IMG ===== */
.img{
	width: 100%;
	height: auto;
}

.img img{
	width: 100%;
	height: 100%;
}

#deanery .img{
	margin-bottom: 20px;
}

/* ===== PRELOADER ===== */

#preloader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	background-color: #2c3c4e;
	text-align: center;
	line-height: calc(100vh);
	vertical-align: middle;
}

/* ========== HEADER ========== */
.header{
	width: 100%;
	position: fixed;
	z-index: 100;
	box-shadow: 10px 0px 10px 0px #333;
}

.header .navbar-contacts-language{
	background-color: #fff;
}

.header .nav-logo{
	width: 120px;
	height: 130px;
	position: absolute;
	top: calc(-1rem - 4px);
	background-color: #59b263;
	text-align: center;
	z-index: 10;
}

.header .nav-logo-img{
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
	background-color: #59b263;
	padding: 28px 0px 26px;
	box-shadow: 2px 2px 5px 0px #333;
}

.header .nav-logo-img a{
	display: inline-block;
	width: 96px;
	height: 76.48px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	animation: logo-effect 6s ease-in-out infinite;
	animation-direction: alternate;
}

.header .nav-logo-info{
	width: 410%;
	height: 136px;
	position: absolute;
	top: 0;
	left: 120px;
	background-color: #2c3c4e;
	text-align: left;
	z-index: 9;
	padding: 46px 10px 0px;
	display: none;
}

.header .nav-logo-info span{
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.header .nav-logo:hover .nav-logo-info{
	display: block;
}

.header .nav-logo:hover a{
	animation-play-state: paused;
}

.header .nav-contacts a{
	color: #333;
}

.header .nav-contacts a:hover{
	color: #59b263;
}

.header .nav-contacts img{
	width: 20px;
}

.header .nav-language .lang a{
	color: #333;
	padding: 0px 2px; 
	text-decoration: none;
}

.header .nav-language .lang a:hover{
	text-decoration: underline;
}

.header .nav-language .lang.active a{
	color: #59b263;
	font-weight: bold;
}

.header .navbar-menu{
	width: 100%;
	height: 100%;
	background-color: #2c3c4e;
	padding: 10px 0px;
}

.header .mobile-menu{
	width: 100%;
}

.navbar-menu-del-padding{
	padding: 0;
}

.header .navbar-menu ul li .nav-link{
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	padding: 0 10px;
	border-bottom: 2px solid #2c3c4e;
}

.header .navbar-light .navbar-nav .nav-link:focus,
.header .navbar-light .navbar-nav .nav-link:hover{
	color: #59b263;
	border-color: #59b263;
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #59b263;
	font-weight: bold;
}

.navbar-light .navbar-toggler{
	border-color: #fff;
	outline: none;
}

.navbar-light .navbar-toggler:hover{
	cursor: pointer;
}

.header .navbar-toggler .navbar-toggler-icon-fa{
	color: #fff;
}

.header .btn-searching{
	background-color: #2c3c4e;
	color: #fff;
	font-size: 22px;
	border: none;
}

.header .btn-searching:hover{
	cursor: pointer;
}

/*======== FOOTER =======*/

.footer{
	width: 100%;
	background-color: #2c3c4e;
	padding: 40px 10% 20px;
}

.footer .footer-logo img{
	width: 50%;
}

.footer .footer-logo p{
	font-size: 8pt;
	padding: 15px 0 0;
}

.footer .footer-text{
	width: 60%;
	display: inline-block;
}

.footer p{
	width: 100%;
	margin: 0;
	font-size: 10pt;
	line-height: 22px;
}

.footer .copyright a:hover{
	color: #fff;
}

/* ===== BACKGROUND IMG ===== */

.entrant-height{
	height: 100%;
}

.bg-img{
	width: 100%;
	min-height: 100%;
	background-image: url(../img/news/IMG_183222222.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
    background-attachment: fixed;
    background-size: cover;
	/*padding-top: 350px; */
	text-align: center;
	display: table;
}

.bg-img .img-container{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: relative;
	z-index: 12;
}

.bg-img .img-container img{
	display: inline-block;
	width: 20%;
}

.aqua-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(89, 178, 99, .8);
}

.bg-linear-gradient{
	background: linear-gradient(to right, rgba(102, 205, 170, .0), #59b263, rgba(102, 205, 170, .0)); 
	padding: 20px 10px; 
	margin-bottom: 30px;
}


/* ====================================== MAIN PAGE ================================== */

section.main-page{
	width: 100%;
	height: auto;
}

.news-slider{
	width: 100%;
}

.news-slider .carousel-indicators:hover{
	cursor: pointer;
}

.news-slider .d-block img{
	display: inline-block;
}

.hot-news{
	width: 12%;
	height: 50px;
	color: #fff;
	position: absolute;
	right: 0;
	background-color: #59b263;
	z-index: 50;
	text-align: left;
	line-height: 20pt;
}

.hot-news.hot-news-1{
	top: 200px;
}

.hot-news.hot-news-2{
	top: 260px;
}

.hot-news.hot-news-3{
	top: 320px;
}

.hot-news > *{
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 20px;
}

.hot-news a.hide-text{
	font-size: 12pt;
	display: none;
	color: #59b263;
	width: 100%;
	height: 100%;
}

.hot-news:hover{
	width: 15%;
	background-color: #fff;
	color: #59b263;
	cursor: pointer;
}

.hot-news:hover .hide-text{
	display: inline-block;
}
.hot-news:hover span:first-child{
	display: none;
}


/* ==== SECTION MENU ==== */

.main-page .section-menu{
	width: 100%;
	height: auto;
}

.main-page .section-menu .section-menu-li{
	background-color: #2c3c4e;
	border-right: 1px solid #111;
	text-align: center;
	padding: 40px 20px;
}

.main-page .section-menu .section-menu-li:last-child{
	border: none;
}

.main-page .introduction{
	width: 100%;
	height: auto;
	padding: 50px 0px;
	text-align: center;
}

/* ===== BOARD ===== */

.board{
	width: 100%;
	padding: 0px 0px 40px;
}

.board-carousel .carousel-item{
}

.board-news{
	width: 98%;
	margin-bottom: 20px;
}

.board-news.board-news-info{
	background-color: #2c3c4e;
}

.board-news.board-news-info .board-news-text{
	width: 100%;
	height: 210px;
	padding: 10px 20px;
	position: relative;
}

.board .carousel-indicators{
    position: static;
    text-align: left;
    margin-left: 0;
    justify-content: left;

}

.board .carousel-indicators li{
    background-color: #2c3c4e;
}

.board .carousel-indicators li:hover{
	cursor: pointer;
}

.board .carousel-indicators .active{
	background-color: #59b263;
}

/*======== NEWS ========*/

.main-page .last-news{
	width: 100%;
	height: auto;
	padding: 30px 0px 60px;
}

.main-page .news-card{
	width: 98%;
	margin-bottom: 20px;
	/*padding: 10px;*/
	/*border: 1px solid #2c3c4e;*/
	background-color: #2c3c4e;
	/*box-shadow: 1px 2px 6px #999;*/
}

.main-page .news-card:first-child{
	margin-left: 0;
}

.main-page .news-card-img{
	height: 100%;
}

.main-page .news-card-text{
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 10px;
	padding-top: 10px;
	border-top: none;
	/*border-left: 2px solid #2c3c4e;*/
}

.main-page .news-card-text p{
	color: #333;
}

.main-page .add-enother-news{
	text-align: center;
}

/*======== DIPLOMA ========*/
.main-page .diploma{
	width: 100%;
	height: auto;
	background-color: #e7ad30;
	padding: 40px 0;
}

.main-page .diploma .diploma-text{
	width: 360px;
	height: auto;
	padding: 70px 40px;
	margin: auto;
	text-align: center;
	position: relative;
}

.main-page .diploma .diploma-text h3{
	text-transform: uppercase;
	margin-bottom: 20px;
}

.main-page .diploma .diploma-text:before{
	content: '';
    width: 360px;
	height: 73px;
	background: url(../img/diploma_top_corner.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.main-page .diploma .diploma-text:after{
	content: '';
    width: 360px;
	height: 73px;
	background: url(../img/diploma_bottom_corner.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
}


/*======== REVIEWS ========*/
.main-page .reviews{
	width: 100%;
	height: auto;
	margin: 30px 0px;
}

.main-page .reviews-info{
	width: 80%;
	margin: auto;
	padding: 10px;
}

.main-page .reviews-img{
	width: 100%;
	float: left;
	border-radius: 50%;
}

.main-page .reviews-img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.main-page .reviews-text{
	width: 100%;
	float: left;
	padding: 20px 30px;
}

.main-page .reviews-text h6 span{
	font-style: italic;
}

.main-page .reviews-text p{
	margin: 0;
	font-size: 22pt;
}

.main-page .reviews .carousel-controls{
	width: 10%;
	background-color: #fff;
	opacity: 1;
}

.main-page .reviews .carousel-controls span{
	visibility: hidden;
}

.main-page .reviews:hover .carousel-controls span{
	visibility: visible;
}

.main-page .reviews .carousel-controls span i{
	color: #2c3c4e;
	font-size: 36pt;
	font-weight: 100;
}

/*======== BANERS ========*/
.main-page .baners{
	background-color: #bdbdbd;
	padding: 20px 0px;
}

.main-page .baners .baner{
	display: inline-block;
	height: 60px;
	margin-left: 4.4%;
}

.main-page .baners .baner:first-child{
	margin-left: 0;
}

.main-page .baners .baner img{
	width: 100%;
	height: 100%;
}


/* ======================================= ENTRANT-PAGE ==================================== */

.entrant-page{
	position: relative;
}

/* ===== WHY WE ===== */
.entrant-page .why-we{
	width: 100%;
	padding: 40px 0px 0px;
	margin-bottom: 50px;
	position: relative;
}

.entrant-page .why-we .our-think{
	padding: 30px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.entrant-page .why-we .our-think:hover{
	background-color: #59b263;
	box-shadow: 1px 2px 10px #999;
}

.entrant-page .why-we .our-think:hover i.icons{
	color: #fff;
}

/* ===== DIRECTIONS ===== */

.entrant-page .directions-tabs{
	width: 100%;
	padding: 10px 0px;
	margin-bottom: 50px;
}

.entrant-page .nav-tabs{
	border: none;
}

.entrant-page .tabs-li{
	width: 25%;
	text-align: center;
}

.entrant-page .tabs-li a{
	width: 100%;
	display: inline-block;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background-color: #2c3c4e;
	padding: 10px;
	border-bottom: none;
	margin-bottom: 10px;
}

.entrant-page .tabs-li a.active{
	background-color: #59b263;
	box-shadow: 0px 0px 4px #333;
}

.entrant-page .tab-content{
	border: 1px solid #333;
	padding: 20px 10px;
	background-color: #2c3c4e;
	color: #fff;
}

.entrant-page .tabs-menu{
	text-align: center;
}

.entrant-page .tabs-menu hr{
	height: 1px;
	background-color: #fff;
}

/* ===== NO DETERMINE ===== */
.entrant-page .no-determine{
	text-align: center;
	margin-bottom: 50px;
}

/* ===== LOCATION ===== */

.entrant-page .location{
	margin-bottom: 50px;
}

/* ===== CONNECTION US ===== */

.entrant-page .connection-us{
	text-align: center;
	margin-bottom: 50px;
}


/* ================================= STUDENT'S PAGE ====================== */

.students-page{
	width: 100%;
	height: auto;
}

/* ===== DOCUMENTS ===== */

.documents{
	width: 100%;
	height: auto;
	padding: 160px 0 50px;
}

.documents p{
	margin-bottom: 0;
}

select.form-control{
	height: 40px !important;
	/*background-color: #59b263;*/
	background-color: #fff;
	border-radius: 0;
	/*color: #fff;*/
	color: #333;
}

select.form-control:hover{
	background-color: #2c3c4e;
	cursor: pointer;
	color: #fff;
}

select.form-control:focus{
	background-color: #fff;
	outline: 0;
	color: #2c3c4e;
}

.documents button{
	width: 100%;
}

.file-container{
	width: 100%;
	height: 400px;
	background-color: #333;
	padding: 5px;
}

.file-container p, .file-container p embed{
	width: 100%;
	height: 100%;
}

/* ===== TRAINING RESOURCES ===== */
.training-resources{
	width: 100%;
	height: auto;
	padding: 50px 0;
}

/*.training-resources h3{
	width: 100%;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
}*/

.training-resources h4{
	width: 100%;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
}

.libraries{
	margin-bottom: 40px;
}

.libraries .lp-lib{
	width: 98%;
	/*padding: 10px;*/
	background-color: #2c3c4e;
}

.libraries .lib-img{
	width: 100%;
}

.libraries .lib-img{
	height: 240px;
}

.libraries .lib-work-time{
	padding: 10px 20px;
}

.libraries .lib-work-time ul{
	list-style-type: none; 
	padding: 0;
}

.libraries .lib-work-time ul li{
	color: #fff;
}

.libraries .lib-work-time ul li span{
	font-weight: bold;
}

.libraries .lib-work-time ul li a{
	color: #59b263;
}

.libraries .lib-info{
	padding: 10px 0px;
}

.interesting-resourses ul{
	padding: 0px 0px 0px 20px;
	list-style-type: square;
}

.interesting-resourses ul li{
	color: #2c3c4e;
}

.interesting-resourses ul li a{
	color: #59b263;
}

/* ===== NEARBY OBJECTS ===== */
.nearby-objects{
	margin-bottom: 30px;
}

/* =============================== GRADUATE PAGE =============================== */
.graduate{
	width: 100%;
	min-height: 100vh;
	padding: 160px 0px 40px;
}


/* =============================== NEWS-ARCHIVE, GALLERY ================================ */

.news-archive, .gallery-page{
	width: 100%;
	height: auto;
	padding: 160px 0px 40px;
}

.news-archive .news-archive-navbar, 
.gallery-page .gallery-navbar,
.about-us .about-us-navbar,
.admission-page .admission-navbar,
.ist-department .ist-department-navbar,
.ekm-department .ekm-department-navbar,
.foa-department .foa-department-navbar{
	width: 100%;
	height: auto;
	/*border: 2px solid #2c3c4e;*/
	box-shadow: 1px 1px 4px #999;
	background-color: #fff;
}

.news-archive .news-archive-navbar ul,
.gallery-page .gallery-navbar ul,
.about-us .about-us-navbar ul,
.admission-page .admission-navbar ul,
.ist-department .ist-department-navbar ul,
.ekm-department .ekm-department-navbar ul,
.foa-department .foa-department-navbar ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.news-archive .news-archive-navbar ul li, .gallery-page .gallery-navbar ul li{
	/*padding: 10px 20px;*/
}

.news-archive .news-archive-navbar ul li:hover, 
.gallery-page .gallery-navbar ul li:hover,
.about-us .about-us-navbar ul li:hover,
.admission-page .admission-navbar ul li:hover,
.ist-department .ist-department-navbar ul li:hover,
.ekm-department .ekm-department-navbar ul li:hover,
.foa-department .foa-department-navbar ul li:hover{
	background-color: #59b263;
	cursor: pointer;
}

.news-archive .news-archive-navbar ul li:hover a, 
.gallery-page .gallery-navbar ul li:hover a,
.about-us .about-us-navbar ul li:hover a,
.admission-page .admission-navbar ul li:hover a,
.ist-department .ist-department-navbar ul li:hover a,
.ekm-department .ekm-department-navbar ul li:hover a,
.foa-department .foa-department-navbar ul li:hover a{
	color: #fff;
}

.admission-page .admission-navbar ul li,
.ist-department .ist-department-navbar ul li,
.ekm-department .ekm-department-navbar ul li,
.foa-department .foa-department-navbar ul li
{
	width: 100%;
}

.news-archive .news-archive-navbar ul li a, 
.gallery-page .gallery-navbar ul li a, 
.about-us .about-us-navbar ul li a,
.admission-page .admission-navbar ul li a,
.ist-department .ist-department-navbar ul li a,
.ekm-department .ekm-department-navbar ul li a,
.foa-department .foa-department-navbar ul li a{
	width: 100%;
	display: inline-block;
	color: #333;
	text-decoration: none;
	padding: 10px 20px;
}
.news-archive .news-archive-navbar ul li a.active, 
.gallery-page .gallery-navbar ul li a.active, 
.about-us .about-us-navbar ul li a.active,
.admission-page .admission-navbar ul li a.active,
.ist-department .ist-department-navbar ul li a.active,
.ekm-department .ekm-department-navbar ul li a.active,
.foa-department .foa-department-navbar ul li a.active{
	color: #fff;
	font-weight: bold;
	background-color: #2c3c4e;
}

.news-archive-container{
	margin-bottom: 10px;
	/*border: 1px solid #2c3c4e;*/
	background-color: #fff;
	box-shadow: 1px 2px 6px #999;
}

.gallery-container{
	margin-bottom: 30px;
	/*border: 1px solid #2c3c4e;*/
	background-color: #fff;
	box-shadow: 1px 2px 6px #999;
}

.gallery-album-container{
	margin-bottom: 30px;
}

.news-archive-img{
	padding: 10px 0px 10px 10px;
}

.gallery-img{
	padding: 0;
}

.news-archive-text,
.gallery-text{
	width: 100%;
	padding: 10px 20px;
}

/* ===== PAGINATION ===== */
.page-item{
	margin-right: 10px;
}

.page-link{
	color: #59b263;
	line-height: normal;
	color: #2c3c4e;
}

.page-item.active .page-link{
	background-color: #59b263;
	border-color: #59b263;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link{
	border-radius: 0;
}

/*=========================== MODALS ===================*/
div.modal-content{
	border-radius: 0;
}

.modal-body{
	padding: 20px 30px;
}

div.modal-footer, div.modal-header{
	border: none;
}

button.close:hover{
	cursor: pointer;
}


/* ================================ INTRODUCTORY & PROFESSIONALY TESTS ========================================= */
.introductory-test, .professional-test{
	width: 100%;
	height: auto;
	padding: 60px 0px;
	background-color: #fff;
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.introductory-test{
	background-image: url('../img/news/IMG_4786.jpg');
}

.professional-test{
	background-image: url('../img/news/IMG_4752.jpg');
}

.test{
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.8);
}

.test-title{
	background-color: #2c3c4e;
	padding: 30px 40px 20px;
}

.test h2{
	margin-bottom: 0;
}

.test-container{
	width: 100%;
	height: auto;
	padding: 20px 30px;
}

.test-container .task{
	padding: 10px 0;
}

.test-footer{
	background-color: #2c3c4e;
	padding: 20px 10px;
	text-align: center;
}


/* ================================== NEWS PAGE ============================= */

.news-page{
	width: 100%;
	height: auto;
	padding: 160px 0px 40px;
}

.main-news{
	padding: 20px 10px;
}

.news-header{
	margin-bottom: 10px;
}

.news-header h2{
	margin-bottom: 0;
}

.news-info{
	
}

.news-info h6{
	font-weight: 100;
}

.news-info h6 > span{
	font-style: italic;
}

.news-body{
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
	padding: 10px 0px;
}

.news-title{
	padding: 10px;
}

.news-text{
	padding: 10px 0;
}

.news-more-img{
	width: 100%;
	height: 100%;
	display: table;
}

.news-more-img .news-more-img-btn{
	text-align: center;
	padding: 0;
	vertical-align: middle;
	display: table-cell;
}

.news-footer{
	padding: 10px 0px;
}

.news-footer h3{
	line-height: 32px;
}

.news-footer span{
	vertical-align: middle;
}

.news-footer a{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	background-color: #59b263;
	border: 1px solid #59b263;
}

.news-footer a:hover{
	color: #59b263;
	background-color: #fff;
}

.last-news-navbar, .top-news-navbar{
	border: 2px solid #2c3c4e;
}

.last-news-navbar{
	margin-bottom: 20px;
}

.last-news-navbar-header, .top-news-navbar-header{
	background-color: #2c3c4e;
	padding: 5px 0px;
}

.last-news-navbar-header h3, .top-news-navbar-header h3{
	margin-bottom: 0;
}

hr{
	/*margin: 2px auto;*/
	height: 2px;
	width: 40%;
}

.last-news, .top-news{
	padding: 15px 10px 10px;
}

.last-news-title, .top-news-title{
	padding-top: 10px;
}

.last-news-text p, .top-news-text p{
	text-align: justify;
	margin-bottom: 0;
}

/* =================== ABOUT US =============== */
.about-us{
	width: 100%;
	height: auto;
	padding: 160px 0px 40px;
}

.about-us-tabs{
	display: block;
}

.leadership-card{

}

.leadership-card .leadership-text{
	padding: 0px 10px; 
}

/* =================== FANCYBOX =============== */

.fancybox-button:hover:not([disabled]){
	background-color: #59b263;
}

.fancybox-arrow{
	opacity: .8;
}

.fancybox-arrow:after{
	background-color: #59b263;
}

.fancybox-arrow:hover{
	opacity: 1;
}

.fancybox-thumbs>ul>li:before{
	border-color: #59b263;
}

/* ========== EDUCATION SCIENCE ========= */
.education-science{
	width: 100%;
	height: auto;
	padding: 160px 0px 50px;
}

.educational-programs{
	margin-bottom: 40px;
}

.program-card{
	width: 100%;
}

.program-title{
	width: 100%;
	height: auto;
	background-color: #59b263;
	padding: 10px 20px;
}

.program-title h3{
	margin-bottom: 0;
}

.program-info{
	padding: 10px;
	border: 1px solid #59b263;
	border-top: none;
}

.conference{
	width: 100%;
	margin-bottom: 20px;
	display: table;
}

.conference-title{
	width: 25%;
	/* height: 100px; */
	display: table-cell;
	background-color: #2c3c4e;
	vertical-align: middle;
	padding: 20px;
}

.conferences-info{
	width: 75%;
	display: table-cell;
	border: 1px solid #2c3c4e;
	border-left: none;
	padding: 10px 20px;
}

/* ========== BREADCRUMB ========= */

.breadcrumb{
	background-color: #f3f3f3;
}

.breadcrumb a{
	color: #2c3c4e;
}

.breadcrumb li.active{
	color: #59b263;
}

/* ========== F.A.Q. ========== */
.faq{
	width: 100%;
	height: auto;
	padding: 150px 0 50px;
}

.faqAccordion{

}

.faqAccordion a{
	background-color: #59b263;
	color: #fff;
	width: 100%;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18pt;
	box-shadow: 1px 2px 2px #999;
	margin-bottom: 4px;
}

.faqAccordion p{
	background-color: #F9F9F9;
	padding: 10px;
}

/* ========== ADMISSION ========== */
.admission-page{
	width: 100%;
	height: auto;
	padding: 150px 0 50px;
}

/* ========== DEPARTMENTS ========== */
.ist-department,
.ekm-department,
.foa-department{
	width: 100%;
	height: auto;
	padding: 160px 0px 40px;
}

/* ========== PROJECTS-PAGE ========== */
.projects-page{
	width: 100%;
	height: auto;
	padding: 150px 0px 50px;
}

.ippt-projects{
	margin-bottom: 40px;
}

.ipptProjectsAccordion a,
.studProjectsAccordion a{
	background-color: #59b263;
	color: #fff;
	width: 100%;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18pt;
	box-shadow: 1px 2px 2px #999;
	margin-bottom: 4px;
}

.ipptProjectsAccordion p,
.studProjectsAccordion p{
	background-color: #F9F9F9;
	padding: 10px;
}

/* ========== CALENDARS MODAL ========== */
.modal-dialog.calendar-modal-dialog{
	max-width: 80%;
}

.calendar-news-text{
	padding: 20px 10px;
}

.calendar-news-text p{
	font-size: 10pt;
}

/* ========== Student's College ========== */
.student-college{
	width: 100%;
	height: auto;
	padding: 150px 0px 50px;
}





