.clear{
	clear: both;
}

/* ===== MAIN STYLES ===== */

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

html{
	overflow-y: hidden;
}

/* ===== FONTS ===== */
h1{
	font-size: 32pt;
	color: #333;
	font-family: sans-serif;
	font-weight: bold;
}

h2{
	font-size: 26pt;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

h3{
	font-size: 18pt;
	font-family: sans-serif;
	font-weight: bold;
}

h4{
	font-size: 16pt;
	font-family: sans-serif;
}

h5{
	font-size: 10pt;
	font-family: sans-serif;
	font-style: italic;
}

h6{
	font-size: 14pt;
}

p{
	font-size: 12pt;
	font-family: sans-serif;
}

.text-white{
	color: #fff;
}

.text-grey{
	color: #333;
}

.text-blue{
	color: #2c3c4e !important;
}

.text-aqua{
	color: #59b263;
}

.text-orange{
	color: #59b263;
}

.text-center{
	text-align: center;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

i.icons{
	font-size: 28pt;
	margin-bottom: 20px;
}

i.icons-white{
	color: #fff;
}

i.icons-aqua{
	color: #59b263;
	margin-bottom: 0.5rem;
}

i.large{
	font-size: 22pt;
}

/* ===== PARALLAX ===== */

.diagonal-block:before{
	content: '';
	position: absolute;
	border-top: 100px solid transparent;
    left: -10px;
    top: -100px;
}

.diagonal-block-left:before{
	border-left: calc(100vw - 7px) solid #fff;
}

.diagonal-block-right:before{
	border-right: calc(100vw - 7px) solid #fff;
}


/* ===== BUTTONS ===== */
.btn button{
	color: #fff;
	border: none;
	outline: 0;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	border: 1px solid;
}

.btn button:hover{
	background-color: #fff;
	cursor: pointer;
}

.btn-blue button{
	background-color: #59b263;
	border-color: #2c3c4e;
}

.btn-blue button:hover{
	color: #59b263;
}

.btn-orange button{
	background-color: #59b263;
	border-color: #59b263;
}

.btn-orange button:hover{
	color: #59b263;
}

/* ===== IMG ===== */
.img{
	width: 100%;
	height: auto;
}

.img img{
	width: 100%;
	height: 100%;
}

/* ===== PRELOADER ===== */

#preloader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	background-color: #2c3c4e;
	text-align: center;
	line-height: calc(100vh);
	vertical-align: middle;
}

/* ========== HEADER ========== */
.header{
	width: 100%;
	position: fixed;
	z-index: 100;
	box-shadow: 10px 0px 10px 0px #333;
}

.header .navbar-contacts-language{
	background-color: #fff;
}

.header .nav-logo{
	width: 120px;
	height: 130px;
	position: absolute;
	top: calc(-1rem - 4px);
	background-color: #59b263;
	text-align: center;
	z-index: 10;
}

.header .nav-logo-img{
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
	background-color: #59b263;
	padding: 28px 0px 26px;
	box-shadow: 2px 2px 5px 0px #333;
}

.header .nav-logo-img a{
	display: inline-block;
	width: 96px;
	height: 76.48px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	animation: logo-effect 6s ease-in-out infinite;
	animation-direction: alternate;
}

.header .nav-logo-info{
	width: 410%;
	height: 136px;
	position: absolute;
	top: 0;
	left: 120px;
	background-color: #2c3c4e;
	text-align: left;
	z-index: 9;
	padding: 46px 10px 0px;
	display: none;
}

.header .nav-logo-info span{
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.header .nav-logo:hover .nav-logo-info{
	display: block;
}

.header .nav-logo:hover a{
	animation-play-state: paused;
}

.header .nav-contacts a{
	color: #333;
}

.header .nav-contacts a:hover{
	color: #59b263;
}

.header .nav-language .lang a{
	color: #333;
	padding: 0px 2px; 
	text-decoration: none;
}

.header .nav-language .lang a:hover{
	text-decoration: underline;
}

.header .nav-language .lang.active a{
	color: #59b263;
	font-weight: bold;
}

.header .navbar-menu{
	width: 100%;
	height: 100%;
	background-color: #2c3c4e;
	padding: 10px 0px;
}

.header .mobile-menu{
	width: 100%;
}

.navbar-menu-del-padding{
	padding: 0;
}

.header .navbar-menu ul li .nav-link{
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	padding: 0 10px;
	border-bottom: 2px solid #2c3c4e;
}

.header .navbar-light .navbar-nav .nav-link:focus,
.header .navbar-light .navbar-nav .nav-link:hover{
	color: #59b263;
	border-color: #59b263;
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #59b263;
	font-weight: bold;
}

.navbar-light .navbar-toggler{
	border-color: #fff;
	outline: none;
}

.navbar-light .navbar-toggler:hover{
	cursor: pointer;
}

.header .navbar-toggler .navbar-toggler-icon-fa{
	color: #fff;
}

.header .btn-searching{
	background-color: #2c3c4e;
	color: #fff;
	font-size: 22px;
}

.header .btn-searching:hover{
	cursor: pointer;
}

/*======== FOOTER =======*/

.footer{
	width: 100%;
	background-color: #2c3c4e;
	padding: 40px 10% 20px;
}

.footer p{
	margin: 0;
}

.footer p a{
	font-size: 18pt;
	margin-right: 20px;
	color: #fff;
}

.footer .copyright{
	padding: 20px 0px 0px;
}

/* ===== BACKGROUND IMG ===== */

.bg-img{
	width: 100%;
	min-height: 100%;
	background-image: url(../img/news/IMG_4865.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
    background-attachment: fixed;
    background-size: cover;
	padding-top: 350px; 
	text-align: center;
}

.bg-linear-gradient{
	background: linear-gradient(to right, rgba(102, 205, 170, .0), #59b263, rgba(102, 205, 170, .0)); 
	padding: 20px 10px; 
	margin-bottom: 30px;
}


/* ====================================== MAIN PAGE ================================== */

section.main-page{
	width: 100%;
	height: auto;
}

.news-slider{
	width: 100%;
}

.news-slider .carousel-indicators:hover{
	cursor: pointer;
}

.news-slider .d-block img{
	display: inline-block;
}

.hot-news{
	width: 12%;
	height: 50px;
	padding: 10px 20px;
	color: #fff;
	position: absolute;
	right: 0;
	background-color: #59b263;
	z-index: 50;
	text-align: left;
	line-height: 20pt;
}

.hot-news.hot-news-1{
	top: 200px;
}

.hot-news.hot-news-2{
	top: 260px;
}

.hot-news.hot-news-3{
	top: 320px;
}

.hot-news span{
	vertical-align: middle;
}

.hide-text{
	font-size: 12pt;
	visibility: hidden;
}

.hot-news:hover{
	width: 15%;
	background-color: #fff;
	color: #59b263;
	cursor: pointer;
}

.hot-news:hover .hide-text{
	visibility: visible;
}
.hot-news:hover i{
	display: none;
}


/* ==== SECTION MENU ==== */

.main-page .section-menu{
	width: 100%;
	height: auto;
}

.main-page .section-menu .section-menu-li{
	background-color: #2c3c4e;
	border-right: 1px solid #111;
	text-align: center;
	padding: 40px 20px;
}

.main-page .section-menu .section-menu-li:last-child{
	border: none;
}

.main-page .introduction{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 50px 0px;
	text-align: center;
}

/* ===== BOARD ===== */

.board{
	width: 100%;
	padding: 0px 0px 40px;
}

.board-carousel .carousel-item{
}

.board-news{
	width: 98%;
	margin-bottom: 20px;
}

.board-news.board-news-info{
	background-color: #2c3c4e;
}

.board-news.board-news-info .board-news-text{
	width: 100%;
	height: 210px;
	padding: 10px 20px;
	position: relative;
}

.board .carousel-indicators{
    position: static;
    text-align: left;
    margin-left: 0;
    justify-content: left;

}

.board .carousel-indicators li{
    background-color: #2c3c4e;
}

.board .carousel-indicators li:hover{
	cursor: pointer;
}

.board .carousel-indicators .active{
	background-color: #59b263;
}

/*======== NEWS ========*/

.main-page .last-news{
	width: 100%;
	height: auto;
	padding: 30px 0px 60px;
	background-color: #fff;
}

.main-page .news-card{
	width: 98%;
	margin-bottom: 20px;
	/*padding: 10px;*/
	/*border: 1px solid #2c3c4e;*/
}

.main-page .news-card:first-child{
	margin-left: 0;
}

.main-page .news-card-text{
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 10px;
	border-top: none;
	/*border-left: 2px solid #2c3c4e;*/
}

.main-page .news-card-text p{
	color: #333;
}

.main-page .add-enother-news{
	text-align: center;
}

/*======== REVIEWS ========*/
.main-page .reviews{
	width: 100%;
	height: auto;
	background-color: #59b263;
	background-color: #fff;
	margin-bottom: 30px;
}

.main-page .reviews-info{
	width: 80%;
	margin: auto;
	padding: 10px;
}

.main-page .reviews-img{
	width: 100%;
	float: left;
	border-radius: 50%;
}

.main-page .reviews-img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.main-page .reviews-text{
	width: 100%;
	float: left;
	padding: 20px 30px;
}

.main-page .reviews-text h6 span{
	font-style: italic;
}

.main-page .reviews-text p{
	margin: 0;
	font-size: 22pt;
}

.main-page .reviews .carousel-controls{
	width: 10%;
	background-color: #fff;
	opacity: 1;
}

.main-page .reviews .carousel-controls span{
	visibility: hidden;
}

.main-page .reviews:hover .carousel-controls span{
	visibility: visible;
}

.main-page .reviews .carousel-controls span i{
	color: #2c3c4e;
	font-size: 36pt;
	font-weight: 100;
}

/*======== BANERS ========*/
.main-page .baners{
	background-color: #59b263;
	padding: 20px 0px;
}

.main-page .baners .baner{
	display: inline-block;
	height: 60px;
	margin-left: 4.4%;
}

.main-page .baners .baner:first-child{
	margin-left: 0;
}

.main-page .baners .baner img{
	width: 100%;
	height: 100%;
}


/* ======================================= ENTRANT-PAGE ==================================== */

.entrant-page{
	position: relative;
}

/* ===== WHY WE ===== */
.entrant-page .why-we{
	width: 100%;
	padding: 40px 0px 0px;
	margin-bottom: 50px;
	position: relative;
}

.entrant-page .why-we .our-think{
	padding: 30px 10px;
	border: 1px solid #333;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.entrant-page .why-we .our-think:hover{
	background-color: #59b263;
	border-color: #59b263;
}

.entrant-page .why-we .our-think:hover i.icons{
	color: #fff;
}

/* ===== DIRECTIONS ===== */

.entrant-page .directions-tabs{
	width: 100%;
	padding: 10px 0px;
	margin-bottom: 50px;
}

.entrant-page .nav-tabs{
	border: none;
}

.entrant-page .tabs-li{
	width: 25%;
	text-align: center;
}

.entrant-page .tabs-li a{
	width: 100%;
	display: inline-block;
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	background-color: #2c3c4e;
	padding: 10px;
	border-bottom: none;
	margin-bottom: 10px;
}

.entrant-page .tabs-li a.active{
	background-color: #59b263;
}

.entrant-page .tab-content{
	border: 1px solid #333;
	padding: 20px 10px;
	background-color: #2c3c4e;
	color: #fff;
}

.entrant-page .tabs-menu{
	text-align: center;
}

/* ===== NO DETERMINE ===== */
.entrant-page .no-determine{
	text-align: center;
	margin-bottom: 50px;
}

/* ===== LOCATION ===== */

.entrant-page .location{
	margin-bottom: 50px;
}

/* ===== CONNECTION US ===== */

.entrant-page .connection-us{
	text-align: center;
	margin-bottom: 50px;
}


/* ================================= STUDENT'S PAGE ====================== */

.students-page{
	width: 100%;
	height: auto;
}

/* ===== INTERESTING INFO ===== */
.students-page .interesting-info{
	width: 100%;
	height: auto;
	position: relative;
	padding: 40px 0px 0px;
}

.interesting-info-carousel{
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}

.interesting-info-news{
	width: 98%;
	margin: 0px auto 20px;
	background-color: #2c3c4e;
}

.interesting-info-news-text{
	width: 100%;
	padding: 10px 20px;
	position: relative;
}

.interesting-info .carousel-indicators li{
    background-color: #2c3c4e;
}

.interesting-info .carousel-indicators li:hover{
	cursor: pointer;
}

.interesting-info .carousel-indicators .active{
	background-color: #59b263;
}

/* ===== DOCUMENTS ===== */

.documents{
	width: 100%;
	height: auto;
	padding: 50px 0;
}

select.form-control{
	background-color: #59b263;
	border-radius: 0;
	color: #fff;
}

select.form-control:hover{
	background-color: #2c3c4e;
	cursor: pointer;
}

select.form-control:focus{
	background-color: #fff;
	outline: 0;
}

.file-container{
	width: 100%;
	height: 400px;
	background-color: #333;
	padding: 10px;
}

.file-container p, .file-container p embed{
	width: 100%;
	height: 100%;
}

/* ===== TRAINING RESOURCES ===== */
.training-resources{
	width: 100%;
	height: auto;
	padding: 50px 0;
}

.training-resources h3{
	width: 100%;
	color: #333;
	font-family: sans-serif;
	font-size: 24pt;
}

.training-resources h4{
	width: 100%;
	color: #333;
	font-family: sans-serif;
	font-size: 18pt;
}

.libraries{

}

.libraries .lp-lib{
	width: 100%;
	padding: 10px;
}

.libraries .lib-img{
	width: 100%;
	background-color: #2c3c4e;
	padding: 4px;
}

.libraries .lib-work-time{
	padding: 20px;
}

.libraries .lib-work-time ul{
	list-style-type: none; 
	padding: 0;
}

.libraries .lib-work-time ul li{
	color: #333;
}

.libraries .lib-work-time ul li span{
	font-weight: bold;
}

.libraries .lib-work-time ul li a{
	color: #59b263;
}

.libraries .lib-info{
	padding: 10px 0px;
}

.interesting-resourses ul{
	padding: 0px 0px 0px 20px;
	list-style-type: square;
}

.interesting-resourses ul li{
	color: #2c3c4e;
}

.interesting-resourses ul li a{
	color: #59b263;
}


/* =============================== NEWS-ARCHIVE, GALLERY ================================ */

.news-archive, .gallery-page{
	width: 100%;
	height: auto;
	padding: 160px 0px 40px;
}

.news-archive .news-archive-navbar, .gallery-page .gallery-navbar{
	width: 100%;
	height: auto;
	border: 2px solid #2c3c4e;
}

.news-archive .news-archive-navbar ul, .gallery-page .gallery-navbar ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.news-archive .news-archive-navbar ul li, .gallery-page .gallery-navbar ul li{
	/*padding: 10px 20px;*/
}

.news-archive .news-archive-navbar ul li.active,
.news-archive .news-archive-navbar ul li.active:hover, 
.gallery-page .gallery-navbar ul li.active, 
.gallery-page .gallery-navbar ul li .active:hover{
	background-color: #2c3c4e;
} 

.news-archive .news-archive-navbar ul li:hover, 
.gallery-page .gallery-navbar ul li:hover{
	background-color: #59b263;
	cursor: pointer;
}

.news-archive .news-archive-navbar ul li a, 
.gallery-page .gallery-navbar ul li a{
	display: inline-block;
	color: #333;
	text-decoration: none;
	padding: 10px 20px;
}

.news-archive .news-archive-navbar ul li.active a,
.gallery-page .gallery-navbar ul li.active a{
	color: #fff;
	font-weight: bold;
}

.news-archive-container{
	margin-bottom: 10px;
	border: 1px solid #2c3c4e;
}

.gallery-container{
	margin-bottom: 30px;
	border: 1px solid #2c3c4e;
}

.gallery-album-container{
	margin-bottom: 30px;
}

.news-archive-img{
	padding: 10px 0px 10px 10px;
}

.gallery-img{
	padding: 0;
}

.news-archive-text,
.gallery-text{
	width: 100%;
	padding: 10px 20px;
}

/* ===== PAGINATION ===== */
.page-item{
	margin-right: 10px;
}

.page-link{
	color: #59b263;
	line-height: normal;
	color: #2c3c4e;
}

.page-item.active .page-link{
	background-color: #59b263;
	border-color: #59b263;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link{
	border-radius: 0;
}

/*=========================== MODALS ===================*/
div.modal-content{
	border-radius: 0;
}

.modal-body{
	padding: 20px 30px;
}

div.modal-footer, div.modal-header{
	border: none;
}

button.close:hover{
	cursor: pointer;
}


/* ================================ INTRODUCTORY & PROFESSIONALY TESTS ========================================= */
.introductory-test, .professional-test{
	width: 100%;
	height: auto;
	padding: 60px 0px;
	background-color: #fff;
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.introductory-test{
	background-image: url('../img/news/IMG_4786.jpg');
}

.professional-test{
	background-image: url('../img/news/IMG_4752.jpg');
}

.test{
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.8);
}

.test-title{
	background-color: #2c3c4e;
	padding: 30px 40px 20px;
}

.test h2{
	margin-bottom: 0;
}

.test-container{
	width: 100%;
	height: auto;
	padding: 20px 30px;
}

.test-container .task{
	padding: 10px 0;
}

.test-footer{
	background-color: #2c3c4e;
	padding: 20px 10px;
	text-align: center;
}


/* ================================== NEWS PAGE ============================= */

.news-page{
	width: 100%;
	height: auto;
	padding: 160px 0px 40px;
}

.main-news{
	padding: 20px 10px;
}

.news-header{
	margin-bottom: 10px;
}

.news-header h2{
	margin-bottom: 0;
}

.news-info{
	
}

.news-info h6{
	font-weight: 100;
}

.news-info h6 > span{
	font-style: italic;
}

.news-body{
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
	padding: 10px 0px;
}

.news-title{
	padding: 10px;
}

.news-text{
	padding: 10px 0;
}

.news-more-img{
	width: 100%;
	height: 100%;
	display: table;
}

.news-more-img .btn{
	padding: 0;
	vertical-align: middle;
	display: table-cell;
}

.news-footer{
	padding: 10px 0px;
}

.news-footer h3{
	line-height: 32px;
}

.news-footer span{
	vertical-align: middle;
}

.news-footer a{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	background-color: #59b263;
	border: 1px solid #59b263;
}

.news-footer a:hover{
	color: #59b263;
	background-color: #fff;
}

.last-news-navbar, .top-news-navbar{
	border: 2px solid #2c3c4e;
}

.last-news-navbar{
	margin-bottom: 20px;
}

.last-news-navbar-header, .top-news-navbar-header{
	background-color: #2c3c4e;
	padding: 5px 0px;
}

.last-news-navbar-header h3, .top-news-navbar-header h3{
	margin-bottom: 0;
}

hr{
	/*margin: 2px auto;*/
	height: 2px;
	width: 40%;
}

.last-news, .top-news{
	padding: 15px 10px 10px;
}

.last-news-title, .top-news-title{
	padding-top: 10px;
}

.last-news-text p, .top-news-text p{
	text-align: justify;
	margin-bottom: 0;
}

/* =================== FANCYBOX =============== */

.fancybox-button:hover:not([disabled]){
	background-color: #59b263;
}

.fancybox-arrow{
	opacity: .8;
}

.fancybox-arrow:after{
	background-color: #59b263;
}

.fancybox-arrow:hover{
	opacity: 1;
}

.fancybox-thumbs>ul>li:before{
	border-color: #59b263;
}

/* ========== BREADCRUMB ========= */

.breadcrumb{
	background-color: #fff;
}

.breadcrumb a{
	color: #2c3c4e;
}

.breadcrumb li.active{
	color: #59b263;
}