/* ===== MAIN PAGE ===== */

section.main-page{
	width: 100%;
	height: auto;
}

/* ==== SECTION MENU ==== */

.main-page .section-menu{
	width: 100%;
	height: auto;
}

.main-page .section-menu .section-menu-li{
	/*grid-column: 1/4;*/
	/*width: 25%;*/
	/*background-color: #333;*/
	background-color: #003865;
	/*float: left;*/
	border-right: 1px solid #111;
	text-align: center;
	padding: 40px 20px;
}

.main-page .section-menu .section-menu-li:last-child{
	border: none;
}

.main-page .section-menu .section-menu-li i{
	font-size: 28pt;
	/*color: #559C3B;*/
	color: #fff;
	margin-bottom: 20px;
}

.main-page .section-menu .section-menu-li h3{
	font-family: sans-serif;
	font-weight: bold;
	/*color: #559C3B;*/
	color: #fff;
}

.main-page .section-menu .section-menu-li p{
	font-family: sans-serif;
	font-size: 16pt;
	color: #fff;
}

.main-page .section-menu .section-menu-li button{
	color: #fff;
	background-color: #66cdaa;
	border: none;
	outline: 0;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px 20px;
}

.main-page .section-menu .section-menu-li button:hover{
	cursor: pointer;
	color: #66cdaa;
	background-color: #fff;
}

.main-page .introduction{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 50px 0px;
	text-align: center;
}

.main-page .introduction h2{
	font-size: 32pt;
	color: #333;
	font-family: sans-serif;
	font-weight: bold;
}

.main-page .introduction p{

}

.main-page .introduction button{
	color: #fff;
	background-color: #ffa735;
	border: none;
	outline: 0;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	border: 1px solid #ffa735;
}

.main-page .introduction button:hover{
	cursor: pointer;
	color: #ffa735;
	background-color: #fff;
}

/*======== NEWS ========*/

.main-page .last-news{
	width: 100%;
	height: auto;
	padding: 30px 0px 60px;
	background-color: #fff;
}

.main-page .last-news h2{
	width: 80%;
	margin: auto;
	font-size: 18pt;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.main-page .last-news .news-card{
	width: 98%;
	margin-bottom: 40px;
}

.main-page .last-news .news-card:first-child{
	margin-left: 0;
}


.main-page .last-news .news-card .news-card-img{
	width: 100%;
	height: auto;
}

.main-page .last-news .news-card .news-card-img img{
	width: 100%;
	height: 100%;
}

.main-page .last-news .news-card .news-card-text{
	width: 100%;
	position: relative;
	height: 210px;
	padding: 10px 20px;
	border: 1px solid #003965;
	border-top: none;
}

.main-page .last-news .news-card .news-card-text h3{
	color: #003965;
}

.main-page .last-news .news-card .news-card-text h4{
	font-size: 10pt;
	color: #66cdaa;
	font-family: sans-serif;
	font-style: italic
}

.main-page .last-news .news-card .news-card-text p{
	color: #003965;
}

.main-page .last-news .news-card .news-card-text button{
	color: #fff;
	background-color: #66cdaa;
	border: 1px solid #66cdaa;
	position: absolute;
	bottom: 10px;
	margin-left: -10%;
}

.main-page .last-news .news-card .news-card-text button:hover{
	cursor: pointer;
}

.main-page .add-enother-news{
	text-align: center;
}

.main-page .add-enother-news button{
	color: #fff;
	background-color: #ffa735;
	border: 1px solid #ffa735;
	padding: 10px 20px;
	font-weight: bold;
}

.main-page .add-enother-news button:hover{
	background-color: #fff;
	color: #66cdaa;
	cursor: pointer;
}

/*======== REVIEWS ========*/

.main-page .reviews{
	width: 100%;
	height: auto;
	background-color: #ffa735;
	background-color: #fff;
	margin-bottom: 30px;
}

.main-page .reviews .reviews-container .reviews-info{
	width: 80%;
	margin: auto;
	padding: 10px;
}

.main-page .reviews .reviews-container .reviews-info .reviews-img{
	width: 100%;
	float: left;
	border-radius: 50%;
}

.main-page .reviews .reviews-container .reviews-info .reviews-img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.main-page .reviews .reviews-container .reviews-info .reviews-text{
	width: 100%;
	float: left;
	padding: 20px 30px;
}

.main-page .reviews .reviews-container .reviews-info .reviews-text h5{
	color: #66cdaa;
}

.main-page .reviews .reviews-container .reviews-info .reviews-text h5 span{
	font-style: italic;
}


.main-page .reviews .reviews-container .reviews-info .reviews-text p{
	margin: 0;
	font-size: 22pt;
}

.main-page .reviews .carousel-controls{
	width: 10%;
	background-color: #fff;
	opacity: 1;
}

.main-page .reviews .carousel-controls span{
	visibility: hidden;
}

.main-page .reviews:hover .carousel-controls span{
	visibility: visible;
}

.main-page .reviews .carousel-controls span i{
	color: #003865;
	font-size: 36pt;
	font-weight: 100;
}

/*======== BANERS ========*/

.main-page .baners{
	/*background-color: #559C3B;*/
	background-color: #66cdaa;
	padding: 20px 0px;
}

.main-page .baners .baner{
	display: inline-block;
	height: 60px;
	margin-left: 4.4%;
}

.main-page .baners .baner:first-child{
	margin-left: 0;
}

.main-page .baners .baner img{
	width: 100%;
	height: 100%;
}










