body {
	background-color: #20B2AA;
	color: #333;
	font-family: sans-serif;
	font-size: 14px;
}

p {
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	margin-bottom: 0;
}

form {
	padding-bottom: 15px;
}

.inpt {
	width: 250px;
}

.btn {
	width: 250px;
	height: 35px;
	border: none;
	color: #20B2AA;
	font-weight: bold;
	border: 1px solid #fff;
	background-color: #fff;
}