form{
	padding: 40px 0;
}
.form-group{
	width: 46%;
}
label{
	font-family: "Arial";
	display: block;
	color: #FFC0CB;
	font-size: 12px;
}
input, textarea{
	width: 100%;
	background-color: #333;
	border: none;
	border-bottom: 1px solid #FFC0CB;
	color: #FF69B4;
	padding: 5px 0;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 20px;
	outline: none;
}
input:focus, textarea:focus{
	border-color: #333;
	padding-left: 5px;
	color: #777;
}
.form-group-text{
	width: 100%;
}
.form-group-button{
	width: 100%;
	text-align: right;
}
.btn{
	width: auto;
	background-color: #FF69B4;
	padding: 10px 25px;
	border: 1px solid #FF69B4;
	border-radius: 2px;
	color: #333;
	font-weight: bold;
	transition: all .2s ease-in-out;
}
.btn:hover,
.btn:focus, 
.btn:active{
	cursor: pointer;
	background-color: #333;
	color: #FF69B4;
	padding: 10px 25px;
}
.btn:focus, 
.btn:active{
	box-shadow: 0 0 10px #000;
}
.form-group-firstname,
.form-group-email{
	float: left;
}
.form-group-lastname,
.form-group-tel{
	float: right;
}
.form-group.form-group-text,
.form-group.form-group-button{
	clear: both;
}