*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #333;
	padding-top: 70px;
}
section{
	width: 70%;
	height: 500px;
	background-color: #333;
	box-shadow: -2px 0 20px 0 #000;
	margin-left: 15%;
}
.grey-div{
	width: 55%;
	height: 360px;
	float: left;
	padding: 80px 3% 60px 7%;
}
.white-div{
	width: 35%;
	height: 500px;
	float: right;
	background: #999 url("../images/background-image.jpg") no-repeat fixed center;
	background-size: cover;
}
h1{
	color: #FF1493;
	margin-bottom: 10px;
}
h2{
	font-family: "Georgia";
	color: #333;
	margin-bottom: 10px;
}
h3{
	color: #FFB6C1;
}
h4{
	font-size: 14px;
	color: #FF69B4;
}
p{
	color: #fff;
}
.navbar{
	width: 100%;
	padding: 10px 0;
	margin-bottom: 120px;
}
ul{
	list-style-type: none;
}
.navbar ul{
	text-align: center;
}
.navbar ul li{
	display: inline-block;
	padding: 10px;
}
.navbar ul li a{
	font-family: "Arial Black";
	text-decoration: none;
	font-weight: bold;
	color: #FF1493;
	transition: all .2s ease-in-out;
}
.navbar ul li a:visited{
	color: #C71585;
}
.navbar ul li a:hover{
	color: #DB7093;
	text-decoration: underline;
}
.contacts{
	padding: 0 20px;
}
.address{
	margin-bottom: 10px;
}
.address ul li, .phone ul li{
	color: #333;
	font-family: "Arial Black";
	font-size: 12px;
}